# Binaries & Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/scripts/gocomics/cmd/gocomics/gocomics

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS artifacts
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~
